.deliveryPageWrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:50px;
    .deliveryPageTitle {
        grid-column:1/3;
    }
    .deliveryForm {
        display: flex;
        flex-direction: column;
        gap:15px;
        .formItem {
            display: flex;
            flex-direction: column;
            gap:10px;
            max-width:400px;
        }
    }
}