.aboutPageWrapper {
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    .aboutPageContent {
        max-width:525px;
        line-height: 25px;
        .aboutPageTitle {
            letter-spacing: 6%;
        }
    }
    .bannerImageWrapper {
        .bannerImage  {
            border-radius: 12px;
        }
    }
}
@media(max-width:960px){
    .aboutPageWrapper  {
        flex-direction: column;
    }
}