.cartItem {
    display: grid;
    grid-template-columns: 2fr repeat(4,1fr);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 13px 5px var(--box-shadow-color);
    border-radius:12px;
    padding: 5px 40px;
    .cartItemName {
        display: flex;
        gap:30px;
        .cartItemImage {
            width:50px;
        }
    }
    .cartItemQuantity {
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap:10px;
        padding: 0 10px;
        .changeItemQuantity {
            display: flex;
            flex-direction: column;
        }
    }
}