.header {
    border-bottom: 1px solid gray;
    font-family: 'Inter',sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size:24px;
}
.headerLink {
    text-decoration: none;
    color:black;
}
.headerLink:hover {
    color:blue;
}