.header {
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 135px;
}
.logo {
    font-size:24px;
}
.headerLinksWrapper {
    display: flex;
    gap:24px;
    align-items: center;
}
.headerLink {
    text-decoration: none;
    color:black;
}
.headerLink:hover {
    color:blue;
}