.header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 135px;
}
.logo {
    font-size:24px;
}
.headerLinksWrapper {
    display: flex;
    gap:24px;
    align-items: center;
}
.headerLink {
    text-decoration: none;
    color:var(--text-color);
    transition:0.3s;
    &:hover {
        color:var(--text-hover-color);
        transition:0.3s;
    }
}