.favoritePageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    .favoriteItems {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:40px;
    }
}
@media(max-width:1200px){
    .favoritePageWrapper {
        .favoriteItems  {
            grid-template-columns: repeat(3,1fr);
        }
    }
}
@media(max-width:960px){
    .favoritePageWrapper {
        .favoriteItems  {
            grid-template-columns: repeat(2,1fr);
        }
    }
}

@media(max-width:768px){
    .favoritePageWrapper {
        .favoriteItems  {
            grid-template-columns: 1fr;
        }
    }
}