.favoritePageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    .favoriteItems {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:50px;
    }
}