.favoriteItemCard {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    width:250px;
    .favoriteItemCardImage {
        width:100%;
        background-color: var(--border-color);
        border-top-right-radius: 11px;
        border-top-left-radius: 11px;
        overflow:hidden;
        .deleteItem {
            position: absolute;
            top:10px;
            right:10px;
        }
    }
    .favoriteItemCardContext {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-content: center;
        .favoriteItemCardName {
            grid-column:1/3;
        }
        .favoriteItemCardPrice {
            grid-column: 1/3;
        }
        .addToCart {
            grid-column:3/4;
            grid-row:1/3;
            margin-left:30px;
        }
    }
}