.cartPageWrapper {
    .cartItemsWrapper {
        width:100%;
        .cartItemsHeader {
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            box-shadow: 0px 0px 13px 5px var(--box-shadow-color);
            .cartItemCategory {
                font-weight: 400;
                font-size:18px;
            }
        }
    }
}