.itemCard {
    border: 1px solid var(--border-color);
    border-radius:12px;
    .itemImage {
        width:100%;
        height:200px;
        background-color: var(--border-color);
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        position:relative;
        .addToFav {
            position: absolute;
            top:10px;
            right:10px;
        }
    }
    .itemInfo {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px;
        justify-content: center;
        align-items: center;
        padding:10px;
        .itemTitle {
            grid-column:1/3;
        }
        .itemPrice {
            grid-column: 1/3;
        }
        .button {
            grid-column:3/4;
            grid-row:1/3;
        }
    }
}