.itemCard {
    border: 1px solid var(--border-color);
    border-radius:12px;
    .itemImage {
        width:270px;
        height:250px;
        background-color: var(--border-color);
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
}