:root {
    --text-color: black;
    --text-hover-color: blue;
    --bg-color: white;
    --border-color:gray;
    --secondary-color: #DB4444;
    --box-shadow-color: rgba(0, 0, 0, 0.05);
}

.ant-btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.body {
    font-family: 'Inter',sans-serif;
}
img {
    object-fit: cover;
    width:100%;
    height:auto;
}