.catalogPageWrapper {
    display: flex;
}
.itemsSection {
    width:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .itemsHeader {
        font-size:36px;
    }
    .itemsWrapper {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:40px;
    }
}
.filtersSection {
    width:25%;
}