.footer {
    background-color: var(--text-color);
    color:var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding:80px 100px;
    .footerLink {
        color:var(--bg-color);
        text-decoration: none;
        transition:0.3s;
        &:hover {
            color:var(--text-hover-color);
            transition:0.3s;
        }
    }
}